<div class="card text-center" *ngIf="showCase">
    <div class="card-header">{{showCase.headline}} - {{showCase.year}}</div>
    <div class="card-header" *ngIf="showCase.rating != 0">Rating: {{showCase.rating}}<span class="fa fa-star checked"></span></div>
    <div class="card-header" *ngIf="showCase.rating == 0">No rating available</div>
    <div class="card-body" >
      <ng-container *ngFor="let image of showCase.cardImages">
          <img *ngIf="image.file" [src]="image.file" width="390" class="text-center" >
      </ng-container>
      <show-more *ngIf="showCase.body" [text]="showCase.body" [maxLength]="150" ></show-more>
      <br>
      Movie trailers
      <br>
      <ng-container *ngFor="let video of showCase.videos">
        <div *ngIf="video.file">
          <video [src]="video.file"></video>
          <ng-container *ngFor="let alternative of video.alternatives">
            <ng-container *ngIf="alternative.file">
                Alternatives
                <video [src]="alternative.file"></video>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
