<div class="jumbotron">
    <div class="card-columns">
      <div class="card text-center" *ngFor="let showCase of ShowCases">
        <div class="card-header">{{showCase.headline}} - {{showCase.year}}</div>
        <div class="card-header" *ngIf="showCase.rating != 0">Rating: {{showCase.rating}}<span class="fa fa-star checked"></span></div>
        <div class="card-header" *ngIf="showCase.rating == 0">No rating available</div>
        <ng-container *ngFor="let image of showCase.cardImages">
            <img *ngIf="image.file" [src]="image.file" width="390" >
        </ng-container>
        <div class="card-body" >
          <show-more *ngIf="showCase.body" [text]="showCase.body" [maxLength]="150" ></show-more>
          <button type="button" class="btn btn-info" [routerLink]="['/movie-details/',showCase.id]">See Movie Info</button>
        </div>
      </div>
    </div>
    <button *ngIf="morePages" type="button" class="btn btn-primary" (click)="getElements()">Show More Movies</button>
  </div>
